asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
defusedxml==0.7.1
Django==4.1.1
djangorestframework==3.13.1
djangorestframework-xml==2.0.0
lxml==4.9.1
pytz==2022.2.1
soupsieve==2.3.2.post1
spyne==2.14.0
sqlparse==0.4.2
suds==1.1.2